.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg , purple , indigo);
    opacity: .8;
}

.searchBar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.searchBar input{
    padding: 10px;
    border-radius: 40px;
    border: none;
    outline: none;
}

.search {
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.weatherData{
    width: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.weatherData .col {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    color : white;
}

.temperature {
    font-size: 40px;
    font-weight: 600;
}

.location {
    font-size: 20px;
    font-weight: 500;
}
.weatherDescription {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: white;
    padding: 15px;
}