*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
#autoWidth{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap: 15px;
    padding: 20px;
}


a{
    text-decoration: none;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
   grid-template-rows: auto 1fr;
    align-items: center;
    background: #A4152C;
}
.box{
    width: 350px;
    height: 600px;
    background: #1E1E26; 
    box-shadow: 2px 10px 12px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    box-sizing: border-box;
}

.box:hover { background-color: #17171D; transform-style: preserve-3d; 
    transform: scale(1.02); 
transition: all ease .3s; 
}

.box:hover .marvel { color: #C0292B; transition: all ease .5s; }
.model { height: 350px; max-height: 100%; max-width: 100%; }

.detail-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-box p { font-family: calibri; font-weight: bold; color: #6A6A74; text-align: center; margin-top: 20px; }
.marvel { color: #32323E; font-weight: bold; letter-spacing: 2px; font-family: Bebas Kai; font-size: 25px; }

img{
    width: 250px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: #bebeca;
}
.Venom{
    width: 280px;
    height: 300px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: #bebeca;
}
h1{
    font-family: 'Bebas Kai', sans-serif;
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}
.title{
   font-family: calibri; font-weight: bold; color: #6A6A74; text-align: center; margin-top: 20px;
}
@media (max-width: 900px) {
    #autoWidth li {
        flex: 0 0 calc(50% - 15px); /* 2 per row */
    }
}

@media (max-width: 600px) {
    #autoWidth li {
        flex: 0 0 100%; /* 1 per row */
    }
}
