*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: hsl(198, 100%, 93%);
    padding: 20px;
    margin: 0; 
}

.container{
    width: auto;
    max-width: max-content;
    text-align: center;
}
.heading{
    padding: 10px;
    margin: 5px;
}

.card-container{
    display: grid;
     grid-template-columns: repeat(3, minmax(250px, 1fr));
     width: 100%;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #f8fbee;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
     background-color: #e1f7f0;
}
.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.rating {
    margin: 10px 0;
}

.star {
    color: #f1c40f;
    font-size: 20px;
}
.card-info{
    padding: 10 px;
}
.bg-image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}

.bg-image2 {
    position: absolute;
    top: 100vh;  
    left: 0;
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}

.bg-image3{
    position: absolute;
    top: 200vh;  
    left: 0;
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}
.bg-image4{
    position: absolute;
    top: 300vh;  
    left: 0;
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}
.bg-image5{
    position: absolute;
    top: 400vh;  
    left: 0;
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}