*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header {
display:flex;
align-items: center;
justify-content: space-between;
padding: 10px 20px;
background-color: #f8f9fa;

}

.logo{
    font-weight: bold;
    font-size: 1.5em;
}

.navigation{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.navigation a{
    text-decoration: none;
    color: #26272e;
    font-weight: 600;
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.navigation li{
    padding: 10px 15px;
}
.search-icon{
    font-size: 1.2em;
    cursor: pointer;
}
.main{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
}
.section1,.section3{
    height: 300px;
    margin-bottom: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex:1;
    flex-direction: column;
}
.section2{
    height: 600px;
    margin-bottom: 20px;
    gap: 20px;
    background-color: #dee2e6;
    border-radius: 8px;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
