*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #f4f6f8;
  color: #333;
}

.header{
display:grid;
grid-template-columns: 1fr 2fr;
align-items: center;
padding: 20px 40px;
background: white;

}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: end;
  gap: 30px;
}
.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
.hero{
      text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}
.hero h2 {
  font-size: 42px;
}
.section {
  padding: 60px 40px;
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
}
.popular {
  grid-template-columns: repeat(3, 1fr);
}

.card{
    background: #ccc;
    border-radius: 10px;
    display: grid;
    text-align: center;
    gap: 10px;
}
.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-weight: bold;
  color: #667eea;
}

.footer {
  background: #111;
  color: white;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.footer a {
  display: block;
  text-decoration: none;
  color: #ccc;
  margin-top: 8px;
  font-size: 14px;
}