* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

body {
  background: #ecdcd2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bg-img {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.Signin {
    width: 360px;
    border-radius: 40px;
    background-color: #ECECEC;
    padding: 24px;
    display: flex;
    flex-direction: column;
    opacity: 70%;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;

    
}

.upper-section {
    display: flex;
    flex-direction: column;
}

.back-button {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background: #fff;
  font-size: 18px;
  cursor: pointer;
  color: #B2856E;
  margin-bottom: 20px;
}

h1 {
  margin: 0 0 12px 0;
  font-size: 28px;
  color: #B2856E;
}

.terms {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.terms a {
  color: #B2856E;
  text-decoration: none;
  transition: 0.3s;
}

.terms a:hover {
  text-decoration: underline;
}

label {
  margin-top: 12px;
  font-size: 13px;
}

input {
  margin-top: 6px;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #fff;
  font-size: 14px;
  width: 100%;
  outline: none;
}

input:focus {
  box-shadow: 0 0 0 2px #B2856E50;
}

.hint {
  font-size: 12px;
  color: #777;
  margin: 8px 0 20px;
}

.primary-btn {
    background-color: #FF5C01;
    border: none;
    color: #FEDCB7;
    padding: 14px;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 20px;
}

.primary-btn:hover {
    background-color: #e04e00;
}

.separate {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: center
}

.separate span {
  padding: 0 12px;
  color: #777;
  font-size: 14px;
}


.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.social:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.social img {
  width: 18px;
}

.facebook:hover {
  background-color: #145dbf;
}

.privacy {
  font-size: 12px;
  text-align: center;
  color: #777;
  margin-top: 20px;
}

.privacy a {
  color: #B2856E;
  text-decoration: none;
}

.privacy a:hover {
  text-decoration: underline;
}
